/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#loader.hidden {
  display: none;
}

.search-button {
  background-color: #4e75ff;
  border: none;
  color: white;
  width: Hug (75px) px;
  height: Hug (40px) px;
  top: 268px;
  left: 28px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
}
.search-button:hover {
  background-color: #6c8cff;
}

.input-text {
  width: 272px;
  height: 25px;
  gap: 0px;
  border-radius: 4px;
  border: 1px solid #808080;
}
